body{
    margin:0;
}
section{
    height: 100vh;
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: back;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}
/*form{
    width:500px;
    background-color: rgba(0,0,0,0.4);
    padding: 60px;
    box-sizing: border-box;
    border-radius: 20px;
}*/
.button {
    color: inherit;
    background-color: #DA70D6;
  font-weight: bold;
  cursor: pointer;
  display: block;
    margin: 10px auto;
    width: 100%;
    padding:6px 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
}
@keyframes back {
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(1800deg);
    }
}

.GroupManager {
    position: absolute;
    background-color: beige;
    width:35%;
    right: 1em;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

.corbeille {
    width: 20px;
}